# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

here are five languages for Data Science:
1. Python
2. R
3. SQL
4. Java
5. Scala

Some of the commonly used libraries used by Data Scientists include:

    1. Scikit-learn
    2. Pandas
    3. Matplotlib
    4. TensorFlow
    5. Apache Spark

|Data Science Tools|
|------------------|
|Anaconda|
|R studio|
|Jupyter Notbooks|

### Below are a few examples of evaluating arithmetic expressions in Python

In [9]:
# arithemtic expression to mutiply then add integers
(3*4)+5

17

In [11]:
minutes = 200
hours = 200/60
# This will convert 200 minutes to hours by diving by 60
hours

3.3333333333333335

# Objectives:
1. excel in the field of data science 
2. start a work as a data scientis 
3. make my dream projects in the field of data science 
4. start my own data science company

## Author
Hashem Almomani